.field{
    background-color: #00935F;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fieldWrap{
        width: 1300px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        /* border: solid 1px tomato; */
        .cardWrap{
            /* border: solid 1px black; */
            width: 80px;
            height: 120px;
            &:hover{
                filter: brightness(0.9);
            }
            p{
                img{
                    /* box-shadow: 0 0 2px #555; */
                    width: 100%;
                    height: 100%;
                    /* position: relative; */
                    /* &:last-child{
                        width: 100px;
                        height: 150px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    } */
                }
            }
        }
    }
}

.result{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00613f;
    height: 201px;
    .turn1, .turn2{
        width: 30%;
        height: 160px;
        background-color: rgba(255, 255, 255, 0.3);
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        border: solid 5px black;
        border-radius: 30px;
        p{
            display: flex;
            justify-content: flex-start;
            padding: 10px 30px;
            font-weight: bold;
            font-size: 30px;
            /* border: solid 1px tomato; */
        }
        .count1, .count2{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 50px;
            padding: 0 0 10px 0;
            /* border: solid 1px tomato; */
            span{
                font-size: 30px;
                margin-bottom: 9px;
            }
        }
    }
    .turn1.active{
        background-color: #fff;
    }
    .turn2.active{
        background-color: #fff;
    }
}